<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a la Librería</title>
</head>
<body>
    <h1>Bienvenido a la Librería</h1>
    <nav>
        <ul>
            <li><a href="/autores">Lista de Autores</a></li>
            <li><a href="/libros">Lista de Libros</a></li>
        </ul>
    </nav>
</body>
</html>
